<%- include('layout/header-landing.ejs') %>
<main>
    <section class="wait">
        <div class="container-wait">
            <h4 class="wait-font" id="typewriter-text">Silahkan konfirmasi register terlebih dahulu!</i></h1>
            <div class="animation-container">
            <img src="img/wa-logo.gif" alt="Animation">
            </div>
            <a href="https://wa.me/6283822577584?text=Halo!" type="button" class="button-wait" id="loginBtn">Send Confirmation</a>
        </div>
    </section>
</main>
<%- include('layout/sidebar-chat.ejs')%>
<%- include('layout/footer.ejs')%>