    <footer>
        <div class="footer">
        <p>Sawala.20223-v.0.0.1</p>
        </div>
    </footer>
</div>
</div>

<script src="/script/popper.js"></script>
<script src="/script/bootstrap.min.js"></script>
<script src="/script/main-chat.js"></script>
</body>
</html>