<hero>
    <div class="hero">
      <div class="hero-content">
        <div class="hero-text">
          <h1>Welcome to Sawala</h1>
          <p id="typewriter-text">Forum Diskusinya Mahasiswa Kreatif Ulbi</p>
        </div>
      </div>
    </div>
   </hero>