<tabs>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin/dashboard">Informasi terkini</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/diskusi-admin">Pertanyaan anda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/info-admin">Bagikan informasi</a>
      </li>
    </ul>
  </tabs>