<tabs>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/mahasiswa/dashboard">Informasi terkini</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mahasiswa/diskusi/read-diskusi">Pertanyaan anda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mahasiswa/info/read-info">Bagikan informasi</a>
      </li>
    </ul>
  </tabs>